/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start of website*/
body {
    background-color: black;
}
/*link for nav-bar*/

nav {
	margin: auto;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 75px;
	font-size: 16px;
	font-family: 'Fugaz One', cursive;
	font-weight: bold;
	text-align: right;
	background-color: #000000; 
	z-index: 2;
}

	nav ul {
		text-align: left;
		display: inline;
		margin: 0px;
		padding: 15px, 4px, 17px, 0px;
		list-style: none;
	}

	nav ul li {
		display: inline-block;
		margin-right: 20px;
		margin-top: 30px;
		position: relative;
		padding: 20px, 20px;
		text-transform: uppercase;
		text-decoration: none;
		background-color: rgba(60,60,60,0);
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: blue;
		font-family: 'Fugaz One', cursive;
	}

	nav ul li: hover {
		background: #4dd0e1;
		color: lightblue;
	}

	nav a {
		color: #fff;
		padding: 10px;
		text-decoration: none;

	}

	nav a:hover {
		color: deepskyblue;
		background-color: rgba(60,60,60,0);
}
/*Locations dropdown*/
nav ul li ul{
	background-color: rgba(60,60,60,0);
	padding: 0;
	position: absolute;
	top: 25px;
	left: 0px;
	width: 150px;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: opacity 0.2s;
	margin: auto;

}

nav ul li ul li {
	background: rgba(60,60,60,0);
	display: block;
	color: deepskyblue;
	font-family: 'Fugaz One', cursive;
    text-align: center;
}

nav ul li ul li:hover {
	background-color: rgba(60,60,60,0);
    
}

nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: hidden;
    position: fixed;
    left: 245px;
}
/*desktop columns*/
@media screen and (min-width:1025px) and (max-width:2500px) {
  .responding-box 
.col-dk-1 {
  width:8.3%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-2 {
  width:16.6%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-3 {
  width:25%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-4 {
  width:33.2%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-5 {
  width:41.5%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-6 {
  width:50%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-7 {
  width:58.1%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-8 {
  width:66.4%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-9 {
  width:75%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-10 {
  width:83%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-11 {
  width:91.3%;
  float: left;
  margin: 0;
  padding: 0;
}
.col-dk-12 {
  display: block;
  width:100%;
  margin: 0;
  padding:0;
}
.hidden-dk {
    display: none;
}
     nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: hidden;
    position: fixed;
    left: 245px;
}
    .logo1 {
        position: fixed;
        top: -1%;
        left: 5%;
        z-index: 2;
        margin: 0;
    }
    .small{
        color: white;
        position: relative;
        left: 15%;
        top: 80px;
        float: left;
    }
    .menudk {
       
    }
    .text{
        color: white;
        font-family: 'PT Sans', sans-serif;
        position: relative;
        width: 30%;
        left: 5vw;
        top: -220vh;
        text-align: left;
        float: left;
        clear: both;
        
        }
    .text2 {
        color: white;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        float: left;
        clear: both;
    }
     .viddk {
        float: left;
        position: relative;
         top: -60px;
        z-index: -1;
    }
}
/*tablet dimensions*/
@media screen and (min-width:769px) and (max-width:1024px) {
  .responding-box {
    background-color: black;
    width:100%;
  }
 .col-md-1 {
    width:8.3%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-2 {
    width:16.6%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-3 {
    width:24.9%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-4 {
    width:33.2%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-5 {
    width:41.5%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-6 {
    width:50%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-7 {
    width:58.1%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-8 {
    width:66.4%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-9 {
    width:74.7%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-10 {
    width:83%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-11 {
    width:91.3%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-md-12 {
    display: block;
    width:100%;
    margin: 0;
    padding:0;
  }
    .hidden-sm-logo {
        display: none;
    }
    .hidden-dk-logo {
        display: none;
    }
    .hidden-md {
        display: none;
    }
    .logo-md {
        top: -1%;
        position: fixed;
        z-index: 2;
        margin: 0;
        left: 30%;
    }
    nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
    position: fixed;
    left: 245px;
}
    .menutab {
        float: left;
        clear: all;
        position: relative;
        top: 70px;
    }
    .tap2 {
        -webkit-transform: scale(1);
	   transform: scale(1);
	   -webkit-transition: .3s ease-in-out;
	   transition: .3s ease-in-out;
    }
    .tap2:hover {
       -webkit-transform: scale(0.5);
	   transform: scale(0.5);
        -webkit-transition: .3s ease-in-out;
	   transition: .3s ease-in-out;
    }
    .vidmd {
        float: left;
        position: relative;
        z-index: -1
    }
}
/*Mobile dimensions*/
@media screen and (min-width:180px) and (max-width:768px) {
  main {
    padding-top:0;
  }
  .col-sm-1 {
    width:8.3%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-2 {
    width:16.6%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-3 {
    width:24.9%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-4 {
    width:33.2%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-5 {
    width:41.5%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-6 {
    width:50%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-7 {
    width:58.1%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-8 {
    width:66.4%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-9 {
    width:74.7%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-10 {
    width:83%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-11 {
    width:91.3%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .col-sm-12 {
    display: block;
    width:100%;
    margin: 0;
    padding:0;
  }
    .hidden-sm-logo {
        display: none;
    }
    .logo2 {
    width: 40%;
    height: auto;
    float: left;
    position: fixed;
    left: 30%;
}
    .hidden-sm {
        display: none;
    }
    .menumob {
        float: left;
        clear: all;
        position: relative;
        top: 70px;
    }
    .vidsm {
        position: relative;
        top: 15px;
        z-index: -1;
    }}
